[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
awscli = "*"
pandas = "*"
xlrd = "*"
pyarrow = "*"
luigi = "*"
boto3 = "*"
onnx = "*"
onnx-caffe2 = "*"
matplotlib = "*"
matplotlib-venn = "*"

[requires]
python_version = "3.7"
